<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GID1</key>
  <string>G_I_D_1.glif</string>
  <key>GID2</key>
  <string>G_I_D_2.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>GID159</key>
  <string>G_I_D_159.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>GID168</key>
  <string>G_I_D_168.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>GID172</key>
  <string>G_I_D_172.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>GID185</key>
  <string>G_I_D_185.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>GID210</key>
  <string>G_I_D_210.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>GID247</key>
  <string>G_I_D_247.glif</string>
  <key>GID248</key>
  <string>G_I_D_248.glif</string>
  <key>GID249</key>
  <string>G_I_D_249.glif</string>
  <key>GID250</key>
  <string>G_I_D_250.glif</string>
  <key>GID251</key>
  <string>G_I_D_251.glif</string>
  <key>GID252</key>
  <string>G_I_D_252.glif</string>
  <key>GID253</key>
  <string>G_I_D_253.glif</string>
  <key>GID254</key>
  <string>G_I_D_254.glif</string>
  <key>GID255</key>
  <string>G_I_D_255.glif</string>
  <key>GID256</key>
  <string>G_I_D_256.glif</string>
  <key>GID257</key>
  <string>G_I_D_257.glif</string>
  <key>uni060C</key>
  <string>uni060C_.glif</string>
  <key>uni061B</key>
  <string>uni061B_.glif</string>
  <key>uni061F</key>
  <string>uni061F_.glif</string>
  <key>uni0621</key>
  <string>uni0621.glif</string>
  <key>uni0622</key>
  <string>uni0622.glif</string>
  <key>uni0623</key>
  <string>uni0623.glif</string>
  <key>uni0624</key>
  <string>uni0624.glif</string>
  <key>uni0625</key>
  <string>uni0625.glif</string>
  <key>uni0626</key>
  <string>uni0626.glif</string>
  <key>uni0627</key>
  <string>uni0627.glif</string>
  <key>uni0628</key>
  <string>uni0628.glif</string>
  <key>uni0629</key>
  <string>uni0629.glif</string>
  <key>uni062A</key>
  <string>uni062A_.glif</string>
  <key>uni062B</key>
  <string>uni062B_.glif</string>
  <key>uni062C</key>
  <string>uni062C_.glif</string>
  <key>uni062D</key>
  <string>uni062D_.glif</string>
  <key>uni062E</key>
  <string>uni062E_.glif</string>
  <key>uni062F</key>
  <string>uni062F_.glif</string>
  <key>uni0630</key>
  <string>uni0630.glif</string>
  <key>uni0631</key>
  <string>uni0631.glif</string>
  <key>uni0632</key>
  <string>uni0632.glif</string>
  <key>uni0633</key>
  <string>uni0633.glif</string>
  <key>uni0634</key>
  <string>uni0634.glif</string>
  <key>uni0635</key>
  <string>uni0635.glif</string>
  <key>uni0636</key>
  <string>uni0636.glif</string>
  <key>uni0637</key>
  <string>uni0637.glif</string>
  <key>uni0638</key>
  <string>uni0638.glif</string>
  <key>uni0639</key>
  <string>uni0639.glif</string>
  <key>uni063A</key>
  <string>uni063A_.glif</string>
  <key>uni0640</key>
  <string>uni0640.glif</string>
  <key>uni0641</key>
  <string>uni0641.glif</string>
  <key>uni0642</key>
  <string>uni0642.glif</string>
  <key>uni0643</key>
  <string>uni0643.glif</string>
  <key>uni0644</key>
  <string>uni0644.glif</string>
  <key>uni0645</key>
  <string>uni0645.glif</string>
  <key>uni0646</key>
  <string>uni0646.glif</string>
  <key>uni0647</key>
  <string>uni0647.glif</string>
  <key>uni0648</key>
  <string>uni0648.glif</string>
  <key>uni0649</key>
  <string>uni0649.glif</string>
  <key>uni064A</key>
  <string>uni064A_.glif</string>
  <key>uni064B</key>
  <string>uni064B_.glif</string>
  <key>uni064C</key>
  <string>uni064C_.glif</string>
  <key>uni064D</key>
  <string>uni064D_.glif</string>
  <key>uni064E</key>
  <string>uni064E_.glif</string>
  <key>uni064F</key>
  <string>uni064F_.glif</string>
  <key>uni0650</key>
  <string>uni0650.glif</string>
  <key>uni0651</key>
  <string>uni0651.glif</string>
  <key>uni0652</key>
  <string>uni0652.glif</string>
  <key>uni0653</key>
  <string>uni0653.glif</string>
  <key>uni0654</key>
  <string>uni0654.glif</string>
  <key>uni0655</key>
  <string>uni0655.glif</string>
  <key>uni0660</key>
  <string>uni0660.glif</string>
  <key>uni0661</key>
  <string>uni0661.glif</string>
  <key>uni0662</key>
  <string>uni0662.glif</string>
  <key>uni0663</key>
  <string>uni0663.glif</string>
  <key>uni0664</key>
  <string>uni0664.glif</string>
  <key>uni0665</key>
  <string>uni0665.glif</string>
  <key>uni0666</key>
  <string>uni0666.glif</string>
  <key>uni0667</key>
  <string>uni0667.glif</string>
  <key>uni0668</key>
  <string>uni0668.glif</string>
  <key>uni0669</key>
  <string>uni0669.glif</string>
  <key>uni066A</key>
  <string>uni066A_.glif</string>
  <key>uni066D</key>
  <string>uni066D_.glif</string>
  <key>uni066E</key>
  <string>uni066E_.glif</string>
  <key>uni0670</key>
  <string>uni0670.glif</string>
  <key>uni067E</key>
  <string>uni067E_.glif</string>
  <key>uni06A4</key>
  <string>uni06A_4.glif</string>
  <key>uni2002</key>
  <string>uni2002.glif</string>
  <key>uni2003</key>
  <string>uni2003.glif</string>
  <key>uni2004</key>
  <string>uni2004.glif</string>
  <key>uni2005</key>
  <string>uni2005.glif</string>
  <key>uni2006</key>
  <string>uni2006.glif</string>
  <key>uni2007</key>
  <string>uni2007.glif</string>
  <key>uni2008</key>
  <string>uni2008.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni200A</key>
  <string>uni200A_.glif</string>
  <key>uni2011</key>
  <string>uni2011.glif</string>
  <key>uni2012</key>
  <string>uni2012.glif</string>
  <key>afii00208</key>
  <string>afii00208.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>uni2206</key>
  <string>uni2206.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>dotcenterar</key>
  <string>dotcenterar.glif</string>
  <key>uni066E.fina</key>
  <string>uni066E_.fina.glif</string>
  <key>uniFE92.alt</key>
  <string>uniF_E_92.alt.glif</string>
  <key>uniFE98.alt</key>
  <string>uniF_E_98.alt.glif</string>
  <key>uniFE9C.alt</key>
  <string>uniF_E_9C_.alt.glif</string>
  <key>uniFEAE.alt</key>
  <string>uniF_E_A_E_.alt.glif</string>
  <key>uniFEB0.alt</key>
  <string>uniF_E_B_0.alt.glif</string>
  <key>uniFEE6.alt</key>
  <string>uniF_E_E_6.alt.glif</string>
  <key>uniFEE8.alt</key>
  <string>uniF_E_E_8.alt.glif</string>
  <key>uniFEF4.alt</key>
  <string>uniF_E_F_4.alt.glif</string>
  <key>uniFE8C.alt</key>
  <string>uniF_E_8C_.alt.glif</string>
  <key>bowl</key>
  <string>bowl.glif</string>
  <key>rightjoining</key>
  <string>rightjoining.glif</string>
  <key>ampersandar</key>
  <string>ampersandar.glif</string>
  <key>uniE800</key>
  <string>uniE_800.glif</string>
  <key>ff</key>
  <string>ff.glif</string>
  <key>ffi</key>
  <string>ffi.glif</string>
  <key>uniFB57</key>
  <string>uniF_B_57.glif</string>
  <key>uniFB58</key>
  <string>uniF_B_58.glif</string>
  <key>uniFB59</key>
  <string>uniF_B_59.glif</string>
  <key>uniFB6B</key>
  <string>uniF_B_6B_.glif</string>
  <key>uniFB6C</key>
  <string>uniF_B_6C_.glif</string>
  <key>uniFB6D</key>
  <string>uniF_B_6D_.glif</string>
  <key>uniFBB2</key>
  <string>uniF_B_B_2.glif</string>
  <key>uniFBB3</key>
  <string>uniF_B_B_3.glif</string>
  <key>uniFBB4</key>
  <string>uniF_B_B_4.glif</string>
  <key>uniFBB5</key>
  <string>uniF_B_B_5.glif</string>
  <key>uniFBB6</key>
  <string>uniF_B_B_6.glif</string>
  <key>uniFBB7</key>
  <string>uniF_B_B_7.glif</string>
  <key>uniFBE8</key>
  <string>uniF_B_E_8.glif</string>
  <key>uniFBE9</key>
  <string>uniF_B_E_9.glif</string>
  <key>uniFC59</key>
  <string>uniF_C_59.glif</string>
  <key>uniFC5A</key>
  <string>uniF_C_5A_.glif</string>
  <key>uniFC5E</key>
  <string>uniF_C_5E_.glif</string>
  <key>uniFC5F</key>
  <string>uniF_C_5F_.glif</string>
  <key>uniFC60</key>
  <string>uniF_C_60.glif</string>
  <key>uniFC61</key>
  <string>uniF_C_61.glif</string>
  <key>uniFC62</key>
  <string>uniF_C_62.glif</string>
  <key>uniFC63</key>
  <string>uniF_C_63.glif</string>
  <key>uniFC95</key>
  <string>uniF_C_95.glif</string>
  <key>uniFC96</key>
  <string>uniF_C_96.glif</string>
  <key>uniFD3E</key>
  <string>uniF_D_3E_.glif</string>
  <key>uniFD3F</key>
  <string>uniF_D_3F_.glif</string>
  <key>uniFDF2</key>
  <string>uniF_D_F_2.glif</string>
  <key>uniFE82</key>
  <string>uniF_E_82.glif</string>
  <key>uniFE84</key>
  <string>uniF_E_84.glif</string>
  <key>uniFE86</key>
  <string>uniF_E_86.glif</string>
  <key>uniFE88</key>
  <string>uniF_E_88.glif</string>
  <key>uniFE8A</key>
  <string>uniF_E_8A_.glif</string>
  <key>uniFE8B</key>
  <string>uniF_E_8B_.glif</string>
  <key>uniFE8C</key>
  <string>uniF_E_8C_.glif</string>
  <key>uniFE8E</key>
  <string>uniF_E_8E_.glif</string>
  <key>uniFE90</key>
  <string>uniF_E_90.glif</string>
  <key>uniFE91</key>
  <string>uniF_E_91.glif</string>
  <key>uniFE92</key>
  <string>uniF_E_92.glif</string>
  <key>uniFE94</key>
  <string>uniF_E_94.glif</string>
  <key>uniFE96</key>
  <string>uniF_E_96.glif</string>
  <key>uniFE97</key>
  <string>uniF_E_97.glif</string>
  <key>uniFE98</key>
  <string>uniF_E_98.glif</string>
  <key>uniFE9A</key>
  <string>uniF_E_9A_.glif</string>
  <key>uniFE9B</key>
  <string>uniF_E_9B_.glif</string>
  <key>uniFE9C</key>
  <string>uniF_E_9C_.glif</string>
  <key>uniFE9E</key>
  <string>uniF_E_9E_.glif</string>
  <key>uniFE9F</key>
  <string>uniF_E_9F_.glif</string>
  <key>uniFEA0</key>
  <string>uniF_E_A_0.glif</string>
  <key>uniFEA2</key>
  <string>uniF_E_A_2.glif</string>
  <key>uniFEA3</key>
  <string>uniF_E_A_3.glif</string>
  <key>uniFEA4</key>
  <string>uniF_E_A_4.glif</string>
  <key>uniFEA6</key>
  <string>uniF_E_A_6.glif</string>
  <key>uniFEA7</key>
  <string>uniF_E_A_7.glif</string>
  <key>uniFEA8</key>
  <string>uniF_E_A_8.glif</string>
  <key>uniFEAA</key>
  <string>uniF_E_A_A_.glif</string>
  <key>uniFEAC</key>
  <string>uniF_E_A_C_.glif</string>
  <key>uniFEAE</key>
  <string>uniF_E_A_E_.glif</string>
  <key>uniFEB0</key>
  <string>uniF_E_B_0.glif</string>
  <key>uniFEB2</key>
  <string>uniF_E_B_2.glif</string>
  <key>uniFEB3</key>
  <string>uniF_E_B_3.glif</string>
  <key>uniFEB4</key>
  <string>uniF_E_B_4.glif</string>
  <key>uniFEB6</key>
  <string>uniF_E_B_6.glif</string>
  <key>uniFEB7</key>
  <string>uniF_E_B_7.glif</string>
  <key>uniFEB8</key>
  <string>uniF_E_B_8.glif</string>
  <key>uniFEBA</key>
  <string>uniF_E_B_A_.glif</string>
  <key>uniFEBB</key>
  <string>uniF_E_B_B_.glif</string>
  <key>uniFEBC</key>
  <string>uniF_E_B_C_.glif</string>
  <key>uniFEBE</key>
  <string>uniF_E_B_E_.glif</string>
  <key>uniFEBF</key>
  <string>uniF_E_B_F_.glif</string>
  <key>uniFEC0</key>
  <string>uniF_E_C_0.glif</string>
  <key>uniFEC2</key>
  <string>uniF_E_C_2.glif</string>
  <key>uniFEC3</key>
  <string>uniF_E_C_3.glif</string>
  <key>uniFEC4</key>
  <string>uniF_E_C_4.glif</string>
  <key>uniFEC6</key>
  <string>uniF_E_C_6.glif</string>
  <key>uniFEC7</key>
  <string>uniF_E_C_7.glif</string>
  <key>uniFEC8</key>
  <string>uniF_E_C_8.glif</string>
  <key>uniFECA</key>
  <string>uniF_E_C_A_.glif</string>
  <key>uniFECB</key>
  <string>uniF_E_C_B_.glif</string>
  <key>uniFECC</key>
  <string>uniF_E_C_C_.glif</string>
  <key>uniFECE</key>
  <string>uniF_E_C_E_.glif</string>
  <key>uniFECF</key>
  <string>uniF_E_C_F_.glif</string>
  <key>uniFED0</key>
  <string>uniF_E_D_0.glif</string>
  <key>uniFED2</key>
  <string>uniF_E_D_2.glif</string>
  <key>uniFED3</key>
  <string>uniF_E_D_3.glif</string>
  <key>uniFED4</key>
  <string>uniF_E_D_4.glif</string>
  <key>uniFED6</key>
  <string>uniF_E_D_6.glif</string>
  <key>uniFED7</key>
  <string>uniF_E_D_7.glif</string>
  <key>uniFED8</key>
  <string>uniF_E_D_8.glif</string>
  <key>uniFEDA</key>
  <string>uniF_E_D_A_.glif</string>
  <key>uniFEDB</key>
  <string>uniF_E_D_B_.glif</string>
  <key>uniFEDC</key>
  <string>uniF_E_D_C_.glif</string>
  <key>uniFEDE</key>
  <string>uniF_E_D_E_.glif</string>
  <key>uniFEDF</key>
  <string>uniF_E_D_F_.glif</string>
  <key>uniFEE0</key>
  <string>uniF_E_E_0.glif</string>
  <key>uniFEE2</key>
  <string>uniF_E_E_2.glif</string>
  <key>uniFEE3</key>
  <string>uniF_E_E_3.glif</string>
  <key>uniFEE4</key>
  <string>uniF_E_E_4.glif</string>
  <key>uniFEE6</key>
  <string>uniF_E_E_6.glif</string>
  <key>uniFEE7</key>
  <string>uniF_E_E_7.glif</string>
  <key>uniFEE8</key>
  <string>uniF_E_E_8.glif</string>
  <key>uniFEEA</key>
  <string>uniF_E_E_A_.glif</string>
  <key>uniFEEB</key>
  <string>uniF_E_E_B_.glif</string>
  <key>uniFEEC</key>
  <string>uniF_E_E_C_.glif</string>
  <key>uniFEEE</key>
  <string>uniF_E_E_E_.glif</string>
  <key>uniFEF0</key>
  <string>uniF_E_F_0.glif</string>
  <key>uniFEF2</key>
  <string>uniF_E_F_2.glif</string>
  <key>uniFEF3</key>
  <string>uniF_E_F_3.glif</string>
  <key>uniFEF4</key>
  <string>uniF_E_F_4.glif</string>
  <key>uniFEF5</key>
  <string>uniF_E_F_5.glif</string>
  <key>uniFEF6</key>
  <string>uniF_E_F_6.glif</string>
  <key>uniFEF7</key>
  <string>uniF_E_F_7.glif</string>
  <key>uniFEF8</key>
  <string>uniF_E_F_8.glif</string>
  <key>uniFEF9</key>
  <string>uniF_E_F_9.glif</string>
  <key>uniFEFA</key>
  <string>uniF_E_F_A_.glif</string>
  <key>uniFEFB</key>
  <string>uniF_E_F_B_.glif</string>
  <key>uniFEFC</key>
  <string>uniF_E_F_C_.glif</string>
  <key>.notdef</key>
  <string>.notdef.glif</string>
</dict>
</plist>
